/*BASE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LAYOUT*/

.container, .wrapper, .masonry-vertical, .masonry-horizontal, footer {
    display: flex;
}

.container  {
    justify-content: center;

}

.wrapper {
    flex-wrap: wrap;
    width: 80%;
}

.masonry-vertical {
    flex-flow: column wrap;
    max-height: 850px;
    width: 100%;
}

.masonry-horizontal {
    width: 100%;
}



/*BOXES*/
header, footer {
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 5px;
}

.masonry-vertical section:nth-child(n), .masonry-horizontal section:nth-child(n), main, aside {
    margin: 0 5px 5px 0;
    padding: 10px;
}

.masonry-vertical section:nth-child(1) {
    width: 40%;
    height: 350px;
}

main {
    width: 60%;
    height: 500px;
    order: 2;
}

aside {
    width: 40%;
    height: 450px;
    order: 1;
}

.masonry-vertical section:nth-child(4) {
    width: 60%;
    height: 300px;
    order: 3;
}

.masonry-horizontal section:nth-child(1) {
    width: 70%;
    height: 200px;
}

.masonry-horizontal section:nth-child(2) {
    width: 30%;
    height: 200px;
}

/*FOOTER*/

footer {
   align-items: center;
   justify-content: center;
}

/*LISTS*/

header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fcc02e;
    margin: 5px;
    padding: 5px;
    height: 30px;
}

header ul li a {
    color: #000;
}

li {
    list-style: none;
}

/*LINKS*/

a {
    text-decoration: none;
}

/*DEMO COLORS*/
header {
    background-color: #54d5eb;
}

.masonry-vertical section:nth-child(1) {
    background-color: #d7c9e3;
}

main {
    background-color: #fcc02e;
}

aside {
    background-color: #9fc363;
}

.masonry-vertical section:nth-child(4) {
    background-color: #898989;
}

.masonry-horizontal section:nth-child(1) {
    background-color: #2bb673;
}

.masonry-horizontal section:nth-child(2) {
    background-color: #f2cbdd;
}

footer {
    background-color: #fea500;
}